table[class^="mastery-"] {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    z-index: 0;
    display: block;
}


table[class^="mastery-"] tr {
    border-top: 1px solid rgba(255, 240, 0, 0.3);
}


table[class^="mastery-"] tr:first-child {
    border-top: unset;
}


table[class^="mastery-"] tr td {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: unset;
}


table[class^="mastery-"] tr td:nth-child(odd) {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    height: 70px;
    min-height: 70px;
    max-height: 70px;
}


table[class^="mastery-"] tr td:nth-child(even) {
    width: 36px;
    min-width: 36px;
    max-width: 36px;
}


table[class^="mastery-"] tr td img {
    display: block;
    margin: auto;
}


table[class^="mastery-"] tr td img[id^="logo-"] {
    cursor: pointer;
}


table[class^="mastery-"] tr td span {
    font-size: 12px;
    cursor: default;
}


img#skill-display {
    z-index: 999;
}


.gauge-full {
    font-weight: bold;
    text-shadow: 0 0 10px #007ba7;
}


td[class^=gauge-mastery-cell-] {
    vertical-align: top !important;
    background-color: rgba(255, 240, 0, 0.1);
    min-width: 40px !important;
    width: 40px !important;
    color: #fff;
    font-size: 12px;
}


td.gauge-mastery-cell-acquired {
    background-color: rgba(255, 240, 0, .9);
    color: #000;
}

    
td.button-add-mastery {
    text-align: center;
}


td.button-add-mastery img {
    cursor: pointer;
}


div#display-skill {
    position: fixed;
    top: 0px;
    left: 650px;
    bottom: 0px;
    z-index: 999;
}


div#display-skill img {
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    max-height: 90%;
}


div#display-stats {
    position: fixed;
    top: 0px;
    left: 650px;
    bottom: 0px;
    z-index: 100;
}


div#display-stats > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0,-50%);
}


input#export-build::placeholder {
    color: #000;
    font-style: italic;
}


input#export-build {
    cursor: pointer;
    color: #000;
}


div#alert-msg {
    position: fixed;
    top: 100%;
    left: 0%;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    background-color: #222;
    color: #fff;
    z-index: 1000;
    display: none;
}


div#masteries div[id^=div-mastery-]:last-child {
    margin-top: 20px;
}


div#masteries div[id^=div-mastery-] table tr {
    background-color: rgba(17, 17, 17, 0.4);
}


span[id^="gauge-total-mastery-"] {
    cursor: default;
}


td[class^="gauge-mastery-cell-"] {
    cursor: default;
}
