div#classes {
    text-align: center;
}


div#classes table {
    margin: auto;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}


div#classes table th,
div#classes table td {
    height: 100px;
    width: 100px;
    max-height: 100px;
    max-width: 100px;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}


div#classes table th:nth-child(1),
div#classes table tr:nth-child(1) > th:nth-child(3) {
    border-left: unset;
}


div#classes table tr:nth-child(2n+2) {
    background-color: rgba(255, 255, 255, 0.1);
}


div#classes table th:last-child,
div#classes table td:last-child {
    border-right: unset;
}


div#classes table td.empty-cell {
    border: unset;
}


div#classes table th {
    font-size: 12px;
    cursor: pointer;
}


div#classes table td {
    font-size: 9px;
}


div#classes table th img {
    display: block;
    margin: auto;
    margin-bottom: 5px;
    max-height: 35px;
}


.highligth {
    background-color: rgba(0, 123, 167, 0.1) !important;
}


div#header {
    text-align: center;
    margin-bottom: 20px;
}


div#footer {
    text-align: center;
    margin-top: 20px;
}
