body {
    font-family: 'Albertus MT Std', sans-serif;
    font-size: 13px;
    background-color: #000;
    color: #fff;
}


a,
a:hover,
a:visited,
a:active {
    color: #fff;
    text-decoration: unset;
}


a:hover {
    font-style: italic;
}
